In [ ]:
x=int(input("Enter the value of x:"))
y=int(input("Enter the value of y:"))
if x>y:
   print("x  is greater then y")

else:
   print("y  is greater then x")

Enter the value of x:20
Enter the value of y:15
x  is greater then y

In [ ]:
x=int(input("Enter the value of x:"))
y=int(input("Enter the value of y:"))
if x>y:
   print("x  is greater then y")
elif x==y:
   print("Vaule of x and y are same")
else:
   print("y  is greater then x")

Enter the value of x:10
Enter the value of y:10
Vaule of x and y are same

In [ ]:
x=float(input("Enter the value of x:"))
y=float(input("Enter the value of y:"))
if x>y:
   print("x  is greater then y")
elif x==y:
   print("Vaule of x and y are same")
else:
   print("y  is greater then x")

Enter the value of x:25.35
Enter the value of y:35.45
y  is greater then x

In [ ]:
age=int(input("Enter the age: "))


if age<4:
  print(" 0 INR")
elif 4<=age<=16:
  print("100 INR")
else:
  print("170 INR")

Enter the age: 12
100 INR

Enter the age: 17
This age of Studets are not exist in this School.

In [ ]:
num=int(input("Enter the Number: "))

if num%2==0:
  print("Even Number")
else:
  print("Odd Number")

Enter the Number: 20
Even Number

In [ ]:
length=int(input("Enter the Length:-"))
Breadth=int(input("Enter the Breadth:-"))

if length==Breadth:
  print("Rectangle is Squre")
else :
  print("Rectangle is  not Squre")

Enter the Length:-10
Enter the Breadth:-10
Rectangle is Squre

In [ ]:
 current_salary=int(input("Enter the current salary"))
 years=int(input("Enetr  your years of experience with this organization:"))

 if years>=5:
   print("Your increment salary",current_salary+0.05*current_salary)
else:
  print("Not eligible for increment",current_salary)

Enter the current salary15000
Enetr  your years of exprience with this organization:6
Your increment salary 15750.0

In [ ]:
x=int(input("Enter the Current salary:-"))
y=int(input("Enter the Total Exprience:-"))

if y>=5:
  print("Your incermented salary",x+0.10*x)
else:
  print("Not eligible for increment, your salary is",x)

Enter the Current salary:-10000
Enter the Total Exprience:-6
Your incermented salary 11000.0

In [ ]:
items=int(input("enter the items:-"))
price=200*items

if price>=2000:
  print("your Discount price is",price- 0.20*price)
else:
  print(" Your final price without Discount",price)

enter the items:-3000
your Discount price is 480000.0

Ques(1)-Question Modified for Conditinal Statement

In [ ]:
items=int(input("Enter the items: "))
price=200*items

if 500<=price<=2000:
  print("your Discount price is",price- 0.20*price)
elif 2000<=price<=5000:
  print("your Discount price is",price- 0.30*price)
elif 5000<=price<=8000:
  print("your Discount price is",price- 0.40*price)
elif 8000<=price<=10000:
  print("your Discount price is",price- 0.50*price)
elif price>=10000:
  print("your Discount price is",price- 0.70*price)
else:
  print(" Your final price without Discount",price)

Enter the items: 50
your Discount price is 5000.0

Ques(2)-Question Modified for Conditinal Statement

In [ ]:
 current_salary=int(input("Enter the current salary: "))
 years=int(input("Enter years of exprience with this organization: "))

 if 2<=years<=5:
   print("Your increment salary",current_salary+0.10*current_salary)
elif 5<=years<=8:
   print("Your increment salary",current_salary+0.20*current_salary)
elif 8<=years<=12:
   print("Your increment salary",current_salary+0.30*current_salary)
elif years>=12:
   print("Your increment salary",current_salary+0.40*current_salary)
else:
  print("Not eligible for increment",current_salary)

Enter the current salary: 10000
Enter years of exprience with this organization: 1
Not eligible for increment 10000

Ques(3)-Question Modified for Conditinal Statement

In [ ]:
age=int(input("Enter the age: "))


if age<4:
  print(" Class - 00-01")
elif 4<=age<=6:
  print(" Class - 02-03")
elif 6<=age<=8:
  print(" Class - 03-05")
elif 8<=age<=10:
  print(" Class - 05-08")
elif 10<=age<=16:
  print(" Class - 08-12")
else:
  print("This age of Studets are not exist in this School.")

Enter the age: 18
This age of Studets are not exist in this School.

Genrate a simple calculator by using conditional statements

In [ ]:
print('''
+ ADD
- SUBTRACT
* MULTIPY
/ DIVIDE
''')
Num1=float(input("Enter The Number 1: "))
Num2=float(input("Enter The Number 2: "))
opr=input('Enter The Opreation....')

if opr=="+":
  print(Num1+Num2)
elif opr=="-":
  print(Num1-Num2)
elif opr=="*":
  print(Num1*Num2)
elif opr=="/":
  print(Num1/Num2)
else:
  print("Invalid Opretaion...: ")

+ ADD
- SUBTRACT
* MULTIPY
/ DIVIDE

Enter The Number 1: 25
Enter The Number 2: 25
Enter The Opreation....+
50.0

Ques-Write a program to calculate the electricity bill (accpet number of unit from user) according to the f0llowing criteria.
     Units                     Amount
First 100 units                  0
Next  100 Units              RS 5 per units
After 200 Units              RS 10 per units
(For Example if input unit 350 then total bill amount is RS 2000)

In [ ]:
Unit=int(input("Enter the Number of Electric Unit ="))
Amount=0
if Unit<=100:
  print("Amount to pay:",0)
elif 100<Unit<=200:
  print("Amount to pay:",(Unit-100)*5)
elif Unit>=200:
  print("Amount to pay:",500+(Unit-100)*10)
else:
  print("Invalid units...")

Enter the Number of Electric Unit =300
Amount to pay: 2500

In [ ]:
Number=int(input("Enter any number : "))
print("Last digit of number is:",Number%10)

Enter any number : 786
Last digit of number is: 6

Ques-Write a program to accpet percentage from the user and display the grade according to the following criteria.
       Marks                        Grade
       >90                            A
   >80 and <=90                       B
   >=60 and<=80                       C
     Below 60                         D

In [ ]:
Per=int(input("Enter the Percentage ="))

if Per<60:
  print("Your Grade is : D ")
elif 60<=Per<=80:
  print("Your Grade is : C ")
elif 80<=Per<=90:
  print("Your Grade is : B ")
elif Per>90:
  print("Your Grade is : A ")
else:
  print("Check your given input :")

Enter the Percentage =65
Your Grade is : C

In [ ]:
Per=float(input("Enter the Percentage ="))

if Per<60:
  print("Your Grade is : D ")
elif 60<=Per<=80:
  print("Your Grade is : C ")
elif 80<=Per<=90:
  print("Your Grade is : B ")
elif Per>90:
  print("Your Grade is : A ")
else:
  print("Check your given input :")

Enter the Percentage =90
Your Grade is : B

Ques-Accpet any city from the user and display monuments of that city.
      City                       Monument
     Delhi                       Red Fort
     Agra                        Taj Mahal
     Jaipur                      Jal Mahal

In [ ]:
City=input("Enter your Ciyt: ")

if City=="Delhi":
  print("Your City Monument is : Red Fort")
elif City=="Agra":
  print("Your City Monument is : Taj Mahal")
elif City=="Jaipur":
  print("Your City Monument is : Jal Mahal")
else:
  print("Your City does not Match : ")

Enter your Ciyt: Agra
Your City Monument is : Taj Mahal

Ques-Write a program to find the three largest number expected from user.

In [ ]:
Num01=int(input("Enter the 1st Number : "))
Num02=int(input("Enter the 2nd Number : "))
Num03=int(input("Enter the 3rd Number : "))
if Num01>Num02 and Num01>Num03:
  print("Num01 is a greater number :",Num01)
elif Num02>Num01 and Num02>Num03:
  print("Num02 is a greater number :",Num02)
elif Num03>Num01 and Num03>Num02:
  print("Num03 is a greater number :",Num03)
else :
  print("Invalid Opreation...")

Enter the 1st Number : 50
Enter the 2nd Number : 20
Enter the 3rd Number : 30
Num01 is a greater number : 50