Create a function which adds two numbers

In [ ]:
def add(a,b):

  c=a+b

  print(c)

In [ ]:
add(1,3)

4

In [ ]:
add(-7,5)

-2

In [ ]:
add(30,47)

77

Create a function which adds 3 numbers

In [ ]:
def sum(x,y,z):
  p=x+y+z
  print(p)

In [ ]:
sum(2,3,4)

9

Create a function which subtracts three numbers

In [ ]:
def sub(x,y,z):
  q=x-y-z
  print(q)

In [ ]:
sub(3,7,9)

-13

Create a function which adds, subtracts, multiplies and divides two numbers

In [ ]:
def compute(a,b):
  c=a+b
  d=a-b
  e=a*b
  f=a/b

  print(c,d,e,f)

In [ ]:
compute(5,2)

7 3 10 2.5

Create a function which takes name and age as input from the user and display the age of the user

In [ ]:
def info(name,age):
  print("Your age is",age)

In [ ]:
info('Meera',24)

Your age is 24

In [ ]:
info('Rajat',32)

Your age is 32

Create a function which takes name and salary as input from the user and display the salary of the user

In [ ]:
def data(name,salary):
  print("Hi your salary is",salary)

In [ ]:
data('Rajesh',20000)

Hi your salary is 20000

In [ ]:
data('Meera',80000)

Hi your salary is 80000

Create a function which computes the area and circumference of a circle


Formula :-

Circumference - 2*pi*r

Area - pi*r^2

In [ ]:
def circle(r):
  area=3.14*r**2
  circum=2*3.14*r
  print("area of the circle is",area,"units and circumference is", circum,"units")

In [ ]:
circle(10)

area of the circle is 314.0 units and circumference is 62.800000000000004 units

In [ ]:
circle(5)

area of the circle is 78.5 units and circumference is 31.400000000000002 units

Create a function which computes area and perimeter of a rectange

Formula :-

Area - l*b

Perimeter - 2(l+b)

In [ ]:
def rect(l,b):
  area=l*b
  perimeter=2*(l+b)
  print("area of rectange is",area,"and perimeter is",perimeter)

In [ ]:
rect(20,30)

area of rectange is 600 and perimeter is 100

Create a function which adds all the elements in a given group of numbers

In [ ]:
def add_sum(numbers):
  sum=0

  for i in numbers:
    sum=sum+i

  print(sum)

In [ ]:
add_sum((2,3,4,5))

14


Create a function which computes area and perimeter of a rectangle

In [6]:
def Rectangle(l,b):
  area=l*b
  peri=2*(l+b)
  print("Area of Rectangle : " ,area)
  print("Parimeter of Rectangle : ",peri)

In [7]:
Rectangle(10,20)

Area of Rectangle :  200
Parimeter of Rectangle :  60

In [8]:
Rectangle(5,25)

Area of Rectangle :  125
Parimeter of Rectangle :  60

Create a function which computes area and circumference of a circle

In [9]:
def circle(r):
  area=3.14*r**2
  circumference=2*3.14*r
  print("area of circle is : ",area)
  print("Circle circumference is : ",circumference)

In [10]:
circle(20)

area of circle is :  1256.0
Circle circumference is :  125.60000000000001

In [11]:
circle(5)

area of circle is :  78.5
Circle circumference is :  31.400000000000002

Create a function to accept three numbers as parameters and display the largest number out of the three given numbers

In [12]:
def max(a,b,c):

  if a>b and a>c:
    print("a is largest")

  elif b>a and b>c:
    print("b is largest")

  else:
    print("c is largest")

In [15]:
max(100,20,25)

a is largest

In [14]:
max(10,50,25)

b is largest

In [16]:
max(10,5,25)

c is largest

In [17]:
def my_function():
  print("Hello from a function")

In [18]:
my_function()

Hello from a function

In [19]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [20]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [21]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [22]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [23]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [24]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [25]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [26]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [27]:
def myfunction():
  pass

In [28]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21