In [1]:
x = lambda a : a + 10
print(x(5))

15

In [2]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [3]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [4]:
def myfunc(n):
  return lambda a : a * n

In [8]:
mydoubler = myfunc(2)

print(mydoubler(11))

22

In [12]:
mynumber = myfunc(5)

print(mynumber(10))

50

In [11]:
mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33