In [29]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [30]:
i = 1
while i < 11:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [31]:
i = 1
while i < 11:
  print(i*2)

  i += 1

2
4
6
8
10
12
14
16
18
20

In [32]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [33]:
i=0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [34]:
i = 1
while i < 8:
  print(i)
  i += 1
else:
  print("i is no longer less than 8")

1
2
3
4
5
6
7
i is no longer less than 8

***For Loop***

In [35]:
city=["Kolkata","Patan","Pune","Mumbai","Hajipur"]
for x in city:
  print(x)

Kolkata
Patan
Pune
Mumbai
Hajipur

In [36]:
for x in "Kolkata":
  print(x)

K
o
l
k
a
t
a

In [37]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [38]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [39]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [40]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [41]:
for x in range(2,11):
  print(x)

2
3
4
5
6
7
8
9
10

In [42]:
for x in range(2,30,2):
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [43]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

***Nested Loops***

In [44]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [45]:
for x in [0, 1, 2]:
  pass

Ques-Take a list of number and display all the  even number

In [47]:
l=[2,8,16,4,3,9,11,21,31,49,50]
for i in l:
  if i % 2==0:
    print(i)

2
8
16
4
50

Ques-Take a list of number and display all the  odd number

In [48]:
l=[2,8,16,4,3,9,11,21,31,49,50]
for i in l:
  if i % 2 != 0:
    print(i)

3
9
11
21
31
49

Ques-Find count of even and odd number in the list.

In [53]:
l1=[2,8,16,4,3,9,11,21,31,49,50,10,25,99,11,16,24,100,110]
count_even=0
count_odd=0

for i in l1:
  if i % 2 == 0:
    count_even=count_even+1
  else:
    count_odd=count_odd+1
print('Total Even Numbers =',count_even)
print('Total odd Numbers =',count_odd)

Total Even Numbers = 10
Total odd Numbers = 9