Built-in Data Types

In [55]:
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview
# None Type:	NoneType

In [56]:
x=5
print(x,type(x))

5 <class 'int'>

In [57]:
x="Hello World"
print(x,type(x))

Hello World <class 'str'>

In [58]:
x=20.5
print(x,type(x))

20.5 <class 'float'>

In [59]:
x=10j
print(x,type(x))

10j <class 'complex'>

In [60]:
x = ["apple", "banana", "cherry"]
print(x,type(x))

['apple', 'banana', 'cherry'] <class 'list'>

In [61]:
x = ("apple", "banana", "cherry")
print(x,type(x))

('apple', 'banana', 'cherry') <class 'tuple'>

In [62]:
x = range(6)
print(x,type(x))

range(0, 6) <class 'range'>

In [63]:
x = {"name" : "Javed", "age" : 26}
print(x,type(x))

{'name': 'Javed', 'age': 26} <class 'dict'>

In [64]:
x = {"patna", "Delhi", "Hajipur"}
print(x,type(x))

{'patna', 'Delhi', 'Hajipur'} <class 'set'>

In [65]:
x = frozenset({"apple", "banana", "cherry"})
print(x,type(x))

frozenset({'apple', 'banana', 'cherry'}) <class 'frozenset'>

In [66]:
x = True
print(x,type(x))

True <class 'bool'>

In [67]:
x = b"Hello"
print(x,type(x))

b'Hello' <class 'bytes'>

In [68]:
x = bytearray(5)
print(x,type(x))

bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>

In [69]:
x = memoryview(bytes(5))
print(x,type(x))

<memory at 0x7fabf8a5e500> <class 'memoryview'>

In [70]:
x = None
print(x,type(x))

None <class 'NoneType'>

# Python Number

In [71]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [72]:
print(x,type(x))
print(y,type(y))
print(z,type(z))

1 <class 'int'>
2.8 <class 'float'>
1j <class 'complex'>

In [73]:
x = 1
y = 35656222554887711
z = -3255522

***Integers***

In [74]:
print(x,type(x))
print(y,type(y))
print(z,type(z))

1 <class 'int'>
35656222554887711 <class 'int'>
-3255522 <class 'int'>

***Float***

In [75]:
x = 1.10
y = 1.0
z = -35.59

In [76]:
print(x,type(x))
print(y,type(y))
print(z,type(z))

1.1 <class 'float'>
1.0 <class 'float'>
-35.59 <class 'float'>

In [77]:
x = 35e3
y = 12E4
z = -87.7e100

In [78]:
print(x,type(x))
print(y,type(y))
print(z,type(z))

35000.0 <class 'float'>
120000.0 <class 'float'>
-8.77e+101 <class 'float'>

***Complex***

In [79]:
x = 3+5j
y = 5j
z = -5j

In [80]:
print(x,type(x))
print(y,type(y))
print(z,type(z))

(3+5j) <class 'complex'>
5j <class 'complex'>
(-0-5j) <class 'complex'>

In [81]:
x=10i+20j+30k
print(type(x))

SyntaxError: ignored

***Type Conversion***

In [82]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [83]:
#convert from int to float:
a = float(x)

In [84]:
#convert from float to int:
b = int(y)

In [85]:
#convert from int to complex:
c = complex(x)

In [86]:
print(a,type(a))
print(b,type(b))
print(c,type(c))

1.0 <class 'float'>
2 <class 'int'>
(1+0j) <class 'complex'>

***Random Number***

In [87]:
import random

In [88]:
print(random.randrange(1,10))

1

***Python Casting***

In [89]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [90]:
print(x,type(x))
print(y,type(y))
print(z,type(z))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>

In [91]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [92]:
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [93]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'