In [1]:
x=10
y="Javed"
print(x)
print(y)

10
Javed

In [3]:
x=4
x= "Hello"
print(x)

Hello

#Casting

In [5]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [8]:
x = 5
y = "Javed"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [10]:
a = 10
A = "Hello"

print(a)
print(A)

10
Hello

In [13]:
myvar = "Kolkata"
my_var = "India"
_my_var = "Patna"
myVar = "Delhi"
MYVAR = "USA"
myvar2 = "UAE"
My_Var_1="Bihar"

In [14]:
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)
print(My_Var_1)

Kolkata
India
Patna
Delhi
USA
UAE
Bihar

#Multi Words Variable Names

***(1)Camel Case***

In [17]:
myVariableName = "Javed"

In [16]:
print(myVariableName)

John

***(2)Pascal Case***

In [20]:
MyVariableName = "Anasri"

In [21]:
print(MyVariableName)

Anasri

***(3)Snake Case***

In [22]:
my_variable_name = "Hajipur"

In [23]:
print(my_variable_name )

Hajipur

#Python Variables - Assign Multiple Values

***(1)Many Values to Multiple Variables***

In [24]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

***(2)One Value to Multiple Variables***

In [25]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

***(3)Unpack a Collection***

In [26]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#Python - Output Variables

***(1)Output Variables***

In [27]:
x = "Python is awesome"
print(x)

Python is awesome

In [28]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [29]:
print(x+y+z)

Pythonisawesome

In [30]:
x = 5
y = 10
print(x + y)

15

In [31]:
x = 5
y = "Hello"
print(x, y)

5 Hello

#Python - Global Variables

In [32]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [33]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

***Global Variables***

In [34]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [35]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic