In [66]:
tuple_01=("ML","DS","DL","NLP","CV","RNN")

In [65]:
print(tuple_01,type(tuple_01))

('ML', 'DS', 'DL', 'NLP', 'CV', 'RNN') <class 'tuple'>

In [5]:
tuple_02=("ML","DS","DL","NLP","CV","RNN","CV","NLP")

In [6]:
print(tuple_02)

('ML', 'DS', 'DL', 'NLP', 'CV', 'RNN', 'CV', 'NLP')

In [7]:
tuple_02[2]

'DL'

In [22]:
tuple_02[2:5]

('DL', 'NLP', 'CV')

In [23]:
tuple_02[-5]

'NLP'

In [24]:
tuple_02[0:4]

('ML', 'DS', 'DL', 'NLP')

In [25]:
tuple_02[:3]

('ML', 'DS', 'DL')

In [26]:
tuple_02[-3:]

('RNN', 'CV', 'NLP')

In [27]:
tuple_02[-5:-2]

('NLP', 'CV', 'RNN')

In [8]:
print(len(tuple_02))

8

In [10]:
tuple_new = ("apple",)
print(type(tuple_new))

#NOT a tuple
tuple_new = ("apple")
print(type(tuple_new))

<class 'tuple'>
<class 'str'>

In [11]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [14]:
print(tuple1)
print(tuple2)
print(tuple3)

('abc', 34, True, 40, 'male')
(1, 5, 7, 9, 3)
(True, False, False)

In [15]:
tuple1 = ("abc", 34, True, 40, "male")

In [16]:
print(tuple1)

('abc', 34, True, 40, 'male')

In [21]:
New_tuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(New_tuple)

('apple', 'banana', 'cherry')

In [29]:
tuple_01=("ML","DS","DL","NLP","CV","RNN")
if "NLP" in tuple_01:
  print("Yes,'NLP'is in the tuple_01")

Yes,'NLP'is in the tuple_01

In [30]:
tuple_01.append("Python")

AttributeError: ignored

In [31]:
tuple_01.remove("NLP")

AttributeError: ignored

***Change Tuple Values***

In [34]:
  Tup_01=("ML","DS","DL","NLP","CV","RNN","Pyhton","Java")

In [35]:
 Tup_02=list(Tup_01)

In [37]:
  Tup_02[2]="RS"

In [38]:
Tup_01=tuple(Tup_02)

In [39]:
 print(Tup_01)

('ML', 'DS', 'RS', 'NLP', 'CV', 'RNN', 'Pyhton', 'Java')

*** Convert into a list***

In [40]:
y = list( Tup_01)
y.append("HTML")
thistuple = tuple(y)

In [41]:
print( Tup_01)

('ML', 'DS', 'RS', 'NLP', 'CV', 'RNN', 'Pyhton', 'Java')

***Add tuple to a tuple***

In [46]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [51]:
tuple_re = ("apple", "banana", "cherry")
y = list(tuple_re)
y.remove("apple")
tuple_re = tuple(y)
print(tuple_re)

('banana', 'cherry')

In [57]:
tuple_del = ("apple", "banana", "cherry")
del tuple_del
print(tuple_del) #this will raise an error because the tuple no longer exists

NameError: ignored

***Unpacking a Tuple***

In [59]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

***Using Asterisk* ***

In [60]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [61]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

***Loop Through a Tuple***

In [62]:
Tup_01=("ML","DS","DL","NLP","CV","RNN","Pyhton","Java")
for x in Tup_01:
  print(x)

ML
DS
DL
NLP
CV
RNN
Pyhton
Java

***Loop Through the Index Numbers***

In [67]:
tuple_01=("ML","DS","DL","NLP","CV","RNN")
for i in range(len(tuple_01)):
  print(tuple_01[i])

ML
DS
DL
NLP
CV
RNN

In [70]:
tuple_02=("ML","DS","DL","NLP","CV","RNN","CV","NLP")
i=0
while i < len (tuple_02):
  print(tuple_02)
  i=i+1

('ML', 'DS', 'DL', 'NLP', 'CV', 'RNN', 'CV', 'NLP')
('ML', 'DS', 'DL', 'NLP', 'CV', 'RNN', 'CV', 'NLP')
('ML', 'DS', 'DL', 'NLP', 'CV', 'RNN', 'CV', 'NLP')
('ML', 'DS', 'DL', 'NLP', 'CV', 'RNN', 'CV', 'NLP')
('ML', 'DS', 'DL', 'NLP', 'CV', 'RNN', 'CV', 'NLP')
('ML', 'DS', 'DL', 'NLP', 'CV', 'RNN', 'CV', 'NLP')
('ML', 'DS', 'DL', 'NLP', 'CV', 'RNN', 'CV', 'NLP')
('ML', 'DS', 'DL', 'NLP', 'CV', 'RNN', 'CV', 'NLP')

In [71]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [72]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')