In [1]:
set_01={"PYTHON","JAVA","HTML","POWER BI","TABLEAU"}

In [2]:
print(set_01,type(set_01))

{'PYTHON', 'TABLEAU', 'HTML', 'POWER BI', 'JAVA'} <class 'set'>

In [3]:
set_02={"PYTHON","JAVA","HTML","Ture",1,2}

In [5]:
print(set_02)
print(len(set_02))

{1, 2, 'PYTHON', 'JAVA', 'HTML', 'Ture'}
6

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [9]:
set1 = {"patna", 34, True, 40, "delhi"}
print(set1)

{True, 34, 'patna', 40, 'delhi'}

In [13]:
set_02 = {"patna","Noida","delhi","pune"}

for x in set_02:
  print(set_02)

{'patna', 'delhi', 'pune', 'Noida'}
{'patna', 'delhi', 'pune', 'Noida'}
{'patna', 'delhi', 'pune', 'Noida'}
{'patna', 'delhi', 'pune', 'Noida'}

In [15]:
set_02 = {"patna","Noida","delhi","pune"}

print("patna" in set_02)

True

In [16]:
set_02.add("Hajipur")

In [17]:
print(set_02)

{'delhi', 'Hajipur', 'patna', 'Noida', 'pune'}

In [18]:
set_02.update("kolkata","Jaipur","Hajipur")

In [19]:
print(set_02)

{'j', 'i', 'a', 'delhi', 'p', 'Hajipur', 'J', 'k', 'patna', 'Noida', 'u', 'o', 'pune', 'r', 'H', 't', 'l'}

In [20]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'banana', 'papaya', 'mango', 'pineapple', 'apple'}

In [21]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'kiwi', 'apple', 'banana', 'orange'}

In [22]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [29]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [32]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [33]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [35]:
this_set = {"apple", "banana", "kivi","orange"}

del this_set

print(this_set)

NameError: ignored

In [37]:
this_set = {"apple", "banana", "kivi","orange"}
for x in this_set:
  print(x)

banana
orange
kivi
apple

In [38]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [39]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'a', 'b'}

In [40]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [41]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [42]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'microsoft', 'banana'}

In [43]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'cherry', 'microsoft', 'banana'}

In [44]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)

print(z)

{2, 'google', 'cherry', 'banana'}